@model IdentityMVC.Models.Dtos.UserPasswordChangeDto

@{
    Layout = "_LayoutMember";

    ViewData["Title"] = "MemberPasswordChange";
}

<h1>MemberPasswordChange</h1>

<h4>UserPasswordChangeDto</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirm" class="control-label"></label>
                <input asp-for="NewPasswordConfirm" class="form-control" />
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"> Change Password</button>
            </div>
        </form>
    </div>
</div>
@if (ViewBag.Success == "true")
{
    <div class="col-md-3">
        <div class="alert-success">
            Password changed successfully.
        </div>
    </div>

}


<div>
    <a asp-action="Index">Back to Home Page</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
